In [ ]:
# python Programming Components

1. literals
2. varibales
3. constants
4. Indentifiers
5. reserved words
6. statements and expression
7. Blocks and indentation
8. Comments

In [ ]:
# literals

any value the you use in programming language

so in python we have different literals

- int - any value without a decimal point for eg 10,20,30
- float - any value with a decinmal point for eg 10.2, -99.999 , -100.0 , 100.0
- complex - any value that can be written in the form of a+bj where a is the real and.b is the imaganiary
- Bool - True/False
- string - anything that can be wriiten inside a '..',"..","""..."""
- None - used to represent empty data

In [2]:
a = 'afsan'
print(a)

True

10 - int
'20' - str
'123 - error
'afsan - error
None - None
True - bool
'False' - str
"""abc""" - str
6+7j - complex
6+7 - int
11+7i - error
11.29 - float
-99.01 - float
-100.01a - error
None - None

In [ ]:
# Constants, Variables and Identifiers

constant and varibale is a subset of indeifiers

indentifir - any name given to a varaible , constant , class name , function name

# Rules of identifiers
1. allowed char - A-Z,a-z,0-9,_
2. not allowrd char - special char - #,*,^,()
3. cannot start with a number 0-9
4. Case senstive
5. can be of any length
6. cannot use the keyword(Reserved) words

In [ ]:
a = 10

# a - var
# = - assignemnt
# 10 - value

In [5]:
# 1. allowed char - A-Z,a-z,0-9,_

a = 10
abc120 = 20
abc#123 = 20

NameError: name 'abc' is not defined

In [6]:
# 2. not allowrd char - special char - #,*,^,()

a@123 = 10

SyntaxError: cannot assign to operator (3023633344.py, line 3)

In [8]:
# 3. cannot start with a number 0-9

abc123 = 20 # allowed
123abc = 100 # not

SyntaxError: invalid syntax (2903015125.py, line 4)

In [10]:
# 4. Case senstive

afsan = 10
Afsan = 100
print(Afsan)

100

In [11]:
# 5. can be of any length

aaaaaaaaaaaaaaaaaaaaaa = 10
print(aaaaaaaaaaaaaaaaaaaaaa)

10

In [ ]:
# Keywords/ reserved words

- Words/key that is already used by python for internal purposes

In [12]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [13]:
# 6. cannot use the keyword(Reserved) words

or = 100

SyntaxError: invalid syntax (1452700371.py, line 3)

afsan
willingtono1
1abc - invalid
none
Finally
true
abc@123 - invalid
abc__123__123__ 
123_abc - invalid
(abc) - invalid
af_sa_n
af_khan
AK
07Messi - invalid
11Ronaldo - invalid

# 6. statements and expression

expression - combination of varibales and literals to give some values, expresion will alawys return the value on the screen


statment - does not return any result

In [14]:
10

10

In [15]:
10+20

30

In [16]:
a = 20

In [17]:
'afsan' + 'khan'

'afsankhan'

In [ ]:
# 7. Blocks and indentation

stat 1
stat 2
stat 3
stat 4
stat 5

steps - 1,2,3,4,5

stat 1
stat 2
if cond:
  stat 3
  stat 4
stat 5

In [ ]:
standard spacing - 4spaces = 1 tab

In [ ]:
# 8. Comments

1. it make code more readable
2. it makes code more understandable
3. stop the exec of the code

In [ ]:
# code to print name on screen

a = 'afsan'  # firstname
b = 'khan' #second name

print(a+b)

In [21]:
# code to print name on screen

a = 'afsan'  # firstname
b = 'khan' #second name

print(a)
# print(b)

afsan

In [ ]:
# Data types

1. Fundamental - basic unit of data type

- int
- float
- complex
- String
- None
- Bool

2. dervied data type - composed of fundamental data types

- list
- tuple
- set
- dict
- range

In [ ]:
# Integer Data type

- any value without a decimal point

In [22]:
a = 10
print(a)

10

In [23]:
a = '10'
print(a)

10

In [ ]:
# funciton to check the data tpye of a varibale/value - type()

In [24]:
a = 10
print(type(a))

<class 'int'>

In [25]:
a = '10'
print(type(a))

<class 'str'>

In [ ]:
# types of operations in integer data type

In [ ]:
1. arithmatic op - +, - , *, /(float divsion), //(floor division), %(modulo) , **

In [26]:
print(10+20)

30

In [27]:
print(100-120)

-20

In [28]:
print(10*20)

200

In [29]:
print(11/2)

5.5

In [30]:
print(11//2)

5

In [31]:
print(11%2) # remainder

1

In [32]:
print(2**8)

256

In [ ]:
2. Comparison operators >,<,>=, <=
"""
- always returns a bool value True/False
- combination allowed is
        int vs int
        float vs float
        str vs str
        int vs float
        bool vs bool

- combination with complex and none are not allowed
"""

In [33]:
print(10>30)

False

In [34]:
print(100>=100)

True

In [35]:
print(100>'afsan')

TypeError: '>' not supported between instances of 'int' and 'str'

In [36]:
print('afsan'>'Nfsan')

True

In [ ]:
a ---> 97
N ---> 781

In [37]:
print('afsan'>'afsar')

False

In [ ]:
A-Z a-z

In [38]:
print('tutort'<='titort')

False

In [39]:
print(8+6j>'Nfsan')

TypeError: '>' not supported between instances of 'complex' and 'str'

In [ ]:
3. equality operators ==, !=

"""
return bool value
"""

In [40]:
print(11 == 11)

False

In [41]:
print(11 != 11)

False

In [42]:
print(100 == 100)

True

In [43]:
print(100.0 == 100)

True

In [44]:
print(100+6j == 100+6j)

True

In [47]:
# ASCII

# the ascii value of a char - ord()

ord('N')

78

In [48]:
# from ascii value to a char - chr

chr(100)

'd'

In [ ]:
5. logical operator - and, or, not

and

True and True --> True
True and False --> False
False and False --> False
False and True --> False

or
True or True --> True
True or False --> True
False or False --> False
False or True --> True

not

not True --> False
not False --> True

In [49]:
print(True and False)

False

In [50]:
print(not False)

True

In [51]:
print((10>29) and (11 != 11))

False