In [ ]:
# list

it is a derived data type that is wriiten inside a [] and each elements are sep by ,

In [2]:
a = [1,2,3,4,5]
print(a , type(a))

[1, 2, 3, 4, 5] <class 'list'>

In [3]:
# check the len of the list
len(a)

5

In [ ]:
# Create list

In [4]:
# 1. you already know the ele

list1 = ['apple', 'mango', 'banana']
print(list1)

['apple', 'mango', 'banana']

In [8]:
#2. taking the user input - eval

list1 = eval(input('please enter the list'))
print(list1 , type(list1))

please enter the list['raja', 'khan']
['raja', 'khan'] <class 'list'>

In [16]:
#3. type casting - can be done only on iterable object

a = 1
b = 'abc'
c = True

In [ ]:
Any tech to find out if object is iterable or not

1. if the len function is working on them
2. if dir(object) has __iter__

In [14]:
a = [1,2,3,4,5]
len(a)

5

In [15]:
print(dir(a))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [17]:
list(a)

TypeError: 'int' object is not iterable

In [18]:
list(b)

['a', 'b', 'c']

In [19]:
list(c)

TypeError: 'bool' object is not iterable

In [20]:
#4. uisng the split method

a = 'hello world'
a.split()

['hello', 'world']

In [ ]:
Properties of list

1. Sequence data type
2. +ve and -ve indexing
3. allows duplicate element
4. allows to store any kind of data type
5. Basic op - indexing, slicing , concatination , repetition, identity, membership
6. list is mutable

In [21]:
# indexing

a = [1,2,3,4,5,6,7,8]
print(a[-3])

6

In [22]:
# slicing
a[-5:-1]

[4, 5, 6, 7]

In [23]:
a[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
# allows duplicate element

a = [1,1,1,1,1,1,1]
print(a)

[1, 1, 1, 1, 1, 1, 1]

In [25]:
# allows to store any kind of data type

a = ['abc' , True , False , 4+6j , 1, 1.2 , None, [1,2,3] , (1,2,3)]
print(a)

['abc', True, False, (4+6j), 1, 1.2, None, [1, 2, 3], (1, 2, 3)]

In [26]:
# concatination
"""
op - +
operand - both the operands should be a list
"""

a = [1,2,3,4]
b = [100,200]

print(a+b)

[1, 2, 3, 4, 100, 200]

In [27]:
# repetition
"""
op - *
operand - one of the operands should be a list and other should be a int
"""

a = [1,2,3,4]
b = 3

print(a*b)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [28]:
# identity
'''
it tells you if the memory address of two varibal is same or not
op - is and is not
return is the bool
'''

a = [1,2,3,4,5]
b = [1,2,3,4,5]

print(a is b)

False

In [ ]:
a = [1,2,3,4]
b = a #aliasing

In [29]:
# membership op
"""
if the ele is present in a list

op - in , not in
return. -Bool
"""

a = ['abc' , True , False , 4+6j , 1, 1.2 , None, [1,2,3] , (1,2,3)]
print('abC' in a)

False

In [30]:
a = ['abc' , True , False , 4+6j , 1, 1.2 , None, [1,2,3] , (1,2,3)]
print('None' in a)

False

In [31]:
a = ['abc' , True , False , 4+6j , 1, 1.2 , None, [1,2,3] , (1,2,3)]
print(1 in a)

True

In [32]:
a = [1,2,3,4,5]
print(a , id(a))
a[0] = 100
print(a, id(a))

[1, 2, 3, 4, 5] 140500459909568
[100, 2, 3, 4, 5] 140500459909568

In [ ]:
# list is mutable( change the orginal objects)

In [35]:
# nested list - list inside a list

a = [1,2,3,[5,6,7] , [8,9,10]]
a[3][0]

5

In [36]:
a[-1][-1]

10

In [37]:
a = [[1,2,3,'afsan', ['messi' , 'ronaldo']]]

a[1][-1][0][0:3]

IndexError: list index out of range

In [38]:
a = [[1,2,3,'afsan', ['messi' , 'ronaldo']]]

a[0][-1][0][0:3]

'mes'

In [39]:
nest_list_1= [[1,2,4] , [5,6,7], [8,[9,10, ['a','b']]]]
nest_list_1[-1][-1][-1][0]

'a'

In [40]:
nest_list_1[-1][-1][-1][-2]

'a'

In [41]:
nest_list_1[2][1][2][0]

'a'

In [42]:
nest_list_1= [[1,2,4] , [5,6,[7,'raja' , ['chelsea' , 'psg']]], [8,[9,10, ['a','b']]]]

In [43]:
nest_list_1[1][2][2][1][::-1]

'gsp'

In [48]:
nest_list_1[1][2][2][1][::-1]

'gsp'

In [ ]:
saturday - methods
deep and shallow copy
for
list comphresion


sunday - tuple, set , dict